<header id="top-header">
  <span class="siteName">
    <a class="links" href="/" title="Return to home page">CSE Motors</a>

  </span>
   <div class="icon_name_container">
      <img src="/images/site/icon.png" alt="cse_motors_icon.png">
                
    </div>

  <div id="tools">

      <a class="links" title="Click to log in" href="/account/login">My Account</a>
  </div>
</header>