<nav aria-label="Main Navigation">
  <ul class="main-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/inv/classification/1">Custom</a></li>
    <li><a href="/inv/classification/2">Sedan</a></li>
    <li><a href="/inv/classification/3">SUV</a></li>
    <li><a href="/inv/classification/4">Truck</a></li>
  </ul>
</nav>
